* {
  margin: 0;
  padding: 0;
  margin-block: 0;
}

html {
  font-size: 16px;
}

body {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 8.5em;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.profile__card__tag,
h1,
h2 {
  font-weight: 600;
}

.profile__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.profile__card img {
  width: 10.2em;
  height: 10.2em;
  display: block;
  border-radius: 12px;
}

.profile__card h1 {
  margin-top: 0.857em;
  color: #4e5150;
  font-size: 1.4em;
  line-height: 1.21em;
}

.profile__card h2 {
  font-size: 1em;
  line-height: 1.2em;
  color: #a9a9a9;
  padding-top: 0.4em;
}

.profile__card__tags__container {
  display: flex;
  padding-top: 1.2em;
}

.profile__card__tag {
  border-radius: 12px;
  width: 7.8em;
  height: 5.2em;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__card__tag:not(:last-child) {
  margin-right: 1.5em;
}

.profile__card__tag span {
  font-size: 1.2em;
  line-height: 1.25em;
}

.profile__card__tag span:first-child {
  color: #4e5150;
}

.profile__card__tag span:last-child {
  color: #bdbdbd;
}

.pictures__gallery {
  padding: 3.9em 1.2em 0;
  display: grid;
  grid-template-columns: 11em 11em 11em;

  grid-gap: 1.2em;
}

.pictures__gallery img {
  max-width: 100%;
  display: block;
  border-radius: 12px;
}

.pictures__gallery picture:nth-child(6n-2) {
  grid-row: span 2;
}

.pictures__gallery picture:nth-child(6n + 2),
.pictures__gallery picture:nth-child(6n + 3) {
  grid-column: span 2;
}

.pictures__gallery picture:nth-child(5) {
  order: 6;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 2.4em;
  font-weight: 500;
}
footer p {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.21em;
  color: #b9bdcf;
}
footer p strong {
  text-decoration: underline;
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 62.5%;
    padding-bottom: 17.5em;
    max-height: 1577px;
    overflow: hidden;
  }

  main {
    max-width: 860px;
    margin: 0 auto;
    padding-left: 4px;
  }
  .profile__card {
    padding-top: 6em;
  }
  .profile__card img {
    width: 16.2em;
    height: 16.2em;
  }
  .profile__card h1 {
    margin-top: 0.67em;
    font-size: 2.4em;
    line-height: 1.21em;
  }
  .profile__card h2 {
    font-size: 1.4em;
    line-height: 1.21em;
    padding-top: 0.57em;
  }
  .profile__card__tags__container {
    padding-top: 2.4em;
  }

  .profile__card__tag {
    width: 10em;
    height: 6.7em;
  }

  .profile__card__tag:not(:last-child) {
    margin-right: 2.4em;
  }

  .profile__card__tag span:first-child {
    font-size: 1.8em;
    line-height: 1.22em;
  }

  .profile__card__tag span:last-child {
    font-size: 1.4em;
    line-height: 1.21em;
  }

  .pictures__gallery {
    padding: 0;
    padding-top: 6.4em;
    display: grid;
    grid-template-columns: 27.5em 27.5em 27.5em;

    grid-gap: 3.2em;
  }
}
